h1 {
    padding-bottom: 3px;
    padding-top: 3px;
}

.element {
    font-size: 24px;
    font-family: "helvetica";
}

#single {
    font-size: 30px;
    font-family: "helvetica";
}

body {
    background-color: aquamarine;
    word-wrap: break-word;
}

li {
    margin: 2px;
}

.div1 {
    width: 45%;
    background-color: lightblue;
    border-color: darkblue;
    border-right-width: 5%;
    border-bottom-width: 5%;    
    float: left;
}

.div2 {
    width: 45%;
    background-color: lightblue;
    border-color: darkblue;
    border-right-width: 5%;
    border-bottom-width: 5%;
    float: right;
}

.container {
    margin: auto;
    width: 100%;
}