h1 {
    padding-bottom: 3px;
    padding-top: 3px;
}

.element {
    font-size: 24px;
    font-family: "helvetica";
}

#single {
    font-size: 30px;
    font-family: "helvetica";
}

body {
    background-color: aquamarine;
    word-wrap: break-word;
}

li {
    margin: 2px;
}

.div1 {
    width: 40%;
    padding: 15px;
    margin: 10px;
    background-color: lightblue;
    border-color: darkblue;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 5px;
    border-bottom-width: 5px;   
    border-style: solid; 
    float: left;
}

.div2 {
    width: 40%;
    padding: 15px;
    margin: 10px;
    background-color: lightblue;
    border-color: darkblue;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-style: solid;
    float: right;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}